@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

html {
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: 'Outfit', sans-serif;
}

*,
*:before,
*:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

.container {
    min-width: 100vw;
    min-height: 100vh;
    background-color: hsl(212, 45%, 89%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-container{
    width: 90%;
    max-width: 320px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 20px;
    padding: 15px;
}

.card-container img{
    width: 100%;
    border-radius: 10px;
    margin-bottom: 20px;
}

.text-container{
    margin: 0 13px;
    text-align: center;
    color: hsl(218, 44%, 22%);
}

.text-container p{
    margin: 20px 0;
    color: hsl(220, 15%, 55%);
    font-size: 1.5rem;
}

